{% extends 'base.html' %}
    {% block title %}
        TODO LIST
    {% endblock %}
    {% block content %}
    <!-- muestro las tareas -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>TODO LIST</h1>
                <!-- muestro las tareas y las pongo en una tabla -->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Task</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td>{{ task[1] }}</td>
                                <td>{{ task[2] }}</td>
                                <td>
                                    <a href="#" class="btn btn-warning">Edit</a>
                                    <a href="#" class="btn btn-danger">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="{{ url_for('addtask') }}" class="btn btn-primary">Add Task</a>
            </div>
    </div>  
    {% endblock %}

